/* Checkout.css */
.checkout-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-card-checkout {
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 250px; /* Fixed height to maintain square shape */
  width: 250px;  /* Fixed width to maintain square shape */
  margin: 0 auto; /* Center the card */
}

#product-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure image covers the square area */
}

.checkout-details {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.checkout-details h2 {
  margin-bottom: 20px;
  color: #333;
}

.address-form .form-group {
  margin-bottom: 15px;
}

.address-form .form-control {
  border-radius: 5px;
  border: 1px solid #ccc;
}

