/* src/components/CSS/MyOrders.css */

.my-orders-container {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.orders-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.order-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}

.order-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.order-card .card-body {
  position: relative;
}

.order-card .card-body .status-label {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  text-transform: capitalize;
  margin-left: 10px;
}

/* Status-specific styles */
.status-Ordered {
  background-color: #f0ad4e; /* Orange */
}
.status-Intransit{
  background-color:green;/*green*/
}
.status-Delivered {
  background-color: #5bc0de; /* Blue */
}

.status-Cancelled {
  background-color: #d9534f; /* Red */
}

.status-Unknown {
  background-color: #6c757d; /* Gray */
}

/* .button-container {
  margin-top: 20px;
} */
.filter-buttons {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.orders-list {
  margin-top: 20px;
}
