/* Custom CSS for the navbar */
.custom-navbar {
  background: linear-gradient(90deg, rgba(0,128,128,1) 0%, rgba(0,255,0,1) 100%);

  padding: 10px 20px;
}

.navbar-brand-custom {
  font-size: 1.5rem;
  color: #ffffff !important; /* Ensure text color is white */
}

.nav-link-custom {
  color: #ffffff !important; /* Ensure text color is white */
  text-decoration: none;
  margin-right: 20px;
  font-size: 1.1rem;
  transition: color 0.3s ease-in-out;
}

.nav-link-custom:hover {
  color: #fd950d !important; /* Hover color */
}

.search-form-custom {
  display: flex;
  align-items: center;
}

.search-bar-custom {
  border-radius: 30px;
  padding: 5px 15px;
  width: 200px;
}

.search-button-custom {
  border-radius: 30px;
  margin-left: 10px;
}

.navbar-collapse {
  justify-content: space-between;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.text-danger {
  color: #dc3545 !important;
}
