/* src/components/Navbar.css */
.custom-navbar {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-brand-custom {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff !important;
  }
  
  .nav-link-custom {
    color: #fff !important;
    margin-right: 15px;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-link-custom:hover {
    color: #ddd !important;
  }
  
  .search-form-custom {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }
  
  .search-bar-custom {
    border-radius: 20px;
    padding: 5px 10px;
    border: 2px solid #28a745;
  }
  
  .search-button-custom {
    border-radius: 20px;
    padding: 5px 20px;
    background-color: #28a745;
    border: none;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
  }
  
  .search-button-custom:hover {
    background-color: #218838;
  }
  